.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/ts.R
data-raw/MissingsWithDependence.Rmd
data-raw/MissingsWithDependence.html
data-raw/MissingsWithDependence24March2026.html
data-raw/BucherStaud2025.pdf
data-raw/gev_ts_inc_approach_2.R
data-raw/mainBS2025.pdf
